div>div {
    width: 100px;
    height: 100px;
    position: fixed;
}

#box1{
    background-color: red;
    top: 0px;
    left: 0px;
}

#box2{
    background-color: yellow;
    top: 0px;
    right: 0px;
}

#box3{
    background-color: blue;
    bottom: 0px;
    left: 0px;
}

#box4{
    background-color: green;
    bottom: 0px;
    right: 0px;
}





